*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: wheat;
    font-family: Arial, Helvetica, sans-serif;
    
}
.courses{
      min-height: 100vh;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
}
.courses h1{
    font-size: 48px;
    margin: 30px;
    text-align: center;
}
.courses p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box{
    height: 150px;
    width: 500px;
    border-radius: 20px;
    background: #ffff;
    border-top: 1px solid(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px 15px;
}