body{
  background-color: black;
}
.popular-courses {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.popular-courses h2 {
  text-align: center;
  font-size: 2.5rem;
  color:white;
  margin-bottom: 3rem;
  font-weight: 700;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.course-card {
  background: white;
  color: black ;
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 15px #2323ff;
  transition: all 0.3s ease;
  border: 2px solid white ;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 20px 50px #2323FF;
  border-color: #2323FF;
}

.course-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.course-card h3 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.course-card p {
  color: grey;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.course-btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: lightblue;
  color: var(--white);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(30, 58, 138, 0.3);
}

.course-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(30, 58, 138, 0.4);
}
