*{
    padding: 0;
    margin: 0;
    border-color: #0000001a;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
 }
nav{
    background: linear-gradient(90deg, rgba(15, 0, 82, 1) 0%,
                rgba(8, 1, 48, 1) 35%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
nav img{
    width: 200px;
}
.nav-div{
    flex: 1;
    text-align: right;
}
.nav-div ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-div ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
button{
    font-size: 18px;
    color: white;
    width: 100px;
}
.nav-div ul li::after{
    content: '';
    width: 0%;
   height: 2px;
   background-color: #afc5e8;
   display:block;
   margin: auto;
   transition: 0.5s;
}
.nav-div ul li:hover::after{
  width: 100%;
}

.slideshow {
      width: 100%;
      height: 800px;
      position: relative;
      overflow: hidden;
    }

    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      animation: fade 12s infinite;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .text {
      position: absolute;
      bottom: 300px;
      left: 20px;
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 
             0 0 10px #2323FF,
             0 0 20px #2323FF,
             0 0 30px #2323FF,
             0 0 40px #2323FF,
             0 0 70px #2323FF,
             0 0 80px #2323FF,
             0 0 100px #2323FF,
             0 0 150px #2323FF;
    }

    .slide:nth-child(1) { animation-delay: 0s; }
    .slide:nth-child(2) { animation-delay: 4s; }
    .slide:nth-child(3) { animation-delay: 8s; }

    @keyframes fade {
      0% { opacity: 0; }
      10% { opacity: 1; }
      30% { opacity: 1; }
      40% { opacity: 0; }
      100% { opacity: 0; }
    }

    .search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

.search-container input {
  flex: 1;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 4px 6px #2323FF;
  background-color: black;
  color: white;
}

.search-container button {
  padding: 1rem 2.5rem;
  background-color: #2323FF;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.search-container button:hover {
  background-color:#3E51C9 ;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
}
.blockquote{
  margin: 10px 30px;
  padding: 25px;
  background: black;
  border: 1px solid black;
  color: #2323FF;
  box-sizing: border-box;        
  }
  .blockquote_quoted::before{
        content: "\201c";
        font-size: 200px;
  }
      
  .blockquote_text{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 70px; 
  line-height: 1.5;
  margin: 0;
  text-align: center; 
  text-shadow: white;          
}
.blockquote_text_credit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; 
  line-height: 1.5;
  margin: 0;
  text-align: right;
  text-shadow: white;           
}
  .footer{
       position: relative;
       padding-block: 32px;  
       background:linear-gradient(90deg, rgba(15, 0, 82, 1) 0%,
                rgba(8, 1, 48, 1) 35%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);     
         }
.footer1{
  margin-top: 20px;
  width: 100%;
  padding: 80px 15%;
  display: flex;
}
.footer1 div{
  text-align: center;
}
.col-2{
   flex-grow: 2;
}
.footer1 div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: white;
}
  
#aim{
  color: #99a1af;
  font-size: 16px;
}
#link{
  margin-bottom: 15px;
  color:#99a1af ;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
}

#mail{
  color: #99a1af;
  font-size: 16px;
}
.footer2{
  border-color: #1c398e;
  color: #99a1af;
  text-align: center;
  padding-top: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

